.loading_animate{
	animation-name:loading;
	-webkit-animation-name: loading;
}

@-webkit-keyframes loading{
	0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes loading{
	0% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
            transform: rotate3d(0, 0, 1, -360deg);
  }

  100% {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: none;
            transform: none;
  }
}